* {
  margin: 0;
  top: 0;
  padding: 0;
}

.main-background {
  height: 100%;
  width: 99dvw;
}

#container-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  width: 97%;
  max-width: 58.6dvw;

  @media (orientation: landscape) {
    min-width: 1125px;
  }

  @media screen and (max-width: 1130px)  {
    min-width: auto;
    max-width: 98dvw;
  }
}

