* {
  margin: 0;
  top: 0;
  padding: 0;
}

.main-background {
  height: 100%;
  width: 100dvw;
}

#container-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  width: 100%;

  @media (orientation: landscape) {
    max-width: 1125px;
  }
}
