.main-product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-page {
  background-color: #606062;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-title {
  width: 100%;
  background-color: #fff;
  margin-top: -1px;
  display: flex;
  justify-content: center;
  padding: 4vh 0 1vh 0;
}

.product-description-and-img {
  display: flex;
  flex-direction: row;
  height: 481px;
}

.image-gallery {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-description {
  width: 50%;
  padding: 15px 50px 15px 0;
}

.main-image {
  width: 250px;
  height: 329px;
  margin: 8px;
  border-radius: 10px;
}

.other-images {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
}

.secundary-images {
  width: 91px;
  height: 120px;
  padding: 8px;
  border-radius: 10px;
}

.other-products {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
}

.list-other-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  outline: none;
  border: 4px solid #a8cf45 !important;
}
