.main-product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-page {
  background-color: #606062;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-title {
  width: 100%;
  background-color: #fff;
  margin-top: -0.1vh;
  display: flex;
  justify-content: center;
  padding: 4vh 0 1vh 0;
}

.product-description-and-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vh 0 1vh 0;
}

.image-gallery {
  width: 52.4%;
}

.product-description {
  width: 42.2%;
  font-size: calc(0.55vh + 0.55vw);
}

.other-products {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;

  .title {
    font-size: calc(1.1vw + 1.2vh);
    line-height: 4.4vh;
    font-weight: 600;
    color: #606062;
    padding: 5vh 0 3vh 0;
  }
}

.list-other-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vw;

  @media screen and (max-width: 1130px)  {
    justify-content: center;
  }
}

.image-gallery-thumbnails {
  padding: 0.25vh 0 !important;
}

.image-gallery-thumbnail {
  width: 6vw !important;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  outline: none;
  border: calc(0.15vw + 0.15vh) solid #a8cf45 !important;
}

