.banner{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #A8CF45;
    height: 43dvh;
}

.banner-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.banner-text1{
    width: 100%;
    height: auto;
    color: #606062;
    background-color: white;
    border-radius: calc(0.5vh + 0.5vw);
    padding: 1.5% 0;
}

.banner-text2{
    width: 100%;
    height: auto;
    color: #606062;
    background-color: white;
    border-radius: calc(0.5vh + 0.5vw);
    padding: 1.5% 0;
}

.title-text{
    font-size: calc(2.5vh + 1vw);
    text-align: center;
    line-height: 5dvh;
    font-weight: 500;
}

.subtitle-text{
    font-size: calc(1.5vh + 1vw);
    text-align: center;
    line-height: 4dvh;
}

.subtitle-text2{
    text-align: center;
    font-size: calc(1.1vh + 1vw);
    line-height: 4dvh;
}

@media (orientation: portrait) {
    .banner {
        display: none;
    }
    
}