.banner{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #A8CF45;
    height: 43dvh;
}

.banner-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.banner-text1{
    width: 100%;
    height: auto;
    color: #606062;
    background-color: white;
    border-radius: 15px;
}

.banner-text2{
    width: 100%;
    height: auto;
    color: #606062;
    background-color: white;
    border-radius: 15px;
}

.title-text{
    font-size: calc(1.5rem + 0.7vw);
    text-align: center;
}

.subtitle-text{
    font-size: calc(1.0rem + 0.7vw);
    text-align: center;
}

.subtitle-text2{
    text-align: center;
    font-size: calc(1.0rem + 0.7vw);
}

@media (orientation: portrait) {
    .banner {
        display: none;
    }
    
}