.breadcrumb-and-back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: white;
  position: relative;
  padding: 40px 12px 0;
}

.breadcrumb-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 22px;
  line-height: 28px;
}

.breadcrumb-container a,
.breadcrumb-container a:visited {
  color: #5d8100;
  text-decoration: underline;
}

.back {
  font-size: 22px;
  line-height: 28px;
  color: #5d8100;
}

.back a:visited {
  color: #5d8100;
  text-decoration: underline;
}

.neutral {
  color: #606062;
}
