.breadcrumb-and-back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
  position: relative;
  padding: 5vh 0 0 0;
  width: 100%;
}

.breadcrumb-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(0.8vh + 0.8vw);
  line-height: 3vh;
}

.breadcrumb-container a,
.breadcrumb-container a:visited {
  color: #5d8100;
  text-decoration: underline;
}

.back {
  font-size: calc(0.8vh + 0.8vw);
  line-height: 3vh;
  color: #5d8100;
}

.back a:visited {
  color: #5d8100;
  text-decoration: underline;
}

.neutral {
  color: #606062;
}
