.home-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.title-and-redirect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 7.5vh 0 2vh 0;

  a {
    font-size: calc(0.8vw + 0.8vh);
  }
}

.home-product-title {
  font-size: calc(1.2vh + 1.2vw);
  color: #606062;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 10dvw;
  font-weight: 500;
  padding-bottom: 2dvh;

  img {
    width: 2dvw;
    height: auto;
  }
}

.redirect {
  color: #5d8100;
}
.redirect a:visited {
  color: #5d8100;
  text-decoration: underline;
}

.home-product-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  background-color: #606062;
  gap: 1vw;

  @media screen and (max-width: 1130px)  {
    justify-content: center;
  }
}

.list-content {
  background-color: rgb(96, 96, 98);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.show-products-btn {
  color: #84b210;
  border: 0.3vh solid #84b210;
  background-color: #fff;
  border-radius: calc(0.3vh + 0.3vw);
  margin: 2.2vh 0;
  padding: 0.6vh 0;
  font-size: calc(0.7vh + 0.7vw);
  line-height: 2.5vh
}

.show-products-btn:hover {
  border-color: #84b210;
}

button:focus,
button:focus-visible {
  outline: none;
}
