.header {
  height: 12dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: background-color 0.3s ease;
  background-color: white;
  box-shadow: 0px 0.2vw 0.7vh -0.2vh rgba(0, 0, 0, 0.3);
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97%;
  height: 100%;
  max-width: 58.6dvw;

  @media (orientation: landscape) {
    min-width: 1125px;
  }

  @media screen and (max-width: 1130px)  {
    min-width: 350px;
    max-width: 98dvw;
  }
}

.navbar {
  display: flex;
}

.navbar .nav-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 50vw;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar .nav-list .nav-item {
  padding: 0.5vw;
}

.navbar a {
  background: none;
  border: none;
  color: #606062;
  font-size: calc(1vh + 1vw);
  font-weight: 350;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.3dvw;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #84b210;
}

.navbar a:focus {
  outline: none;
  background-color: transparent;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 0.2vh;
  background: #84b210;
  transition: all 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
  left: 0;
}

.navbar .selected::after {
  width: 100%;
  left: 0;
}

.navbar:hover .selected::after {
  width: 0;
}

.navbar .selected:hover::after {
  width: 100%;
}

.nav-logo img {
  width: auto;
  height: calc(3vh + 3vw);
  display: block;
}

.btn-hamburguer {
  display: none;
}

@media (orientation: portrait) {
  .navbar {
    display: none;
  }

  .btn-hamburguer {
    display: flex;
    width: 2vw;
    height: 2vh;
    color: #000;
    background: chocolate;
  }

  .nav-column > .nav-list {
    background-color: chocolate;
    width: 5vw;
    height: 100dvh;
  }
}