
.service-title{
    background-color: white;
    color: #606062;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    font-weight: 500;
}

.service-card-container{
    background-color: white;
    max-width: 548px;
    height: 627px;
    margin: 16px;
    border-radius: 7px 7px 20px 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.service-card-image{
    height: 365px;
    width: 548px;
}

.service-card-title{
    background-color: #606062;
    font-size: 28px;
    padding: 8px 40px 8px 40px;
    ;
}

.service-card-description{
    color: #606062;
    padding: 16px 40px 24px 40px;
    border-radius: 40px;
}