
.service-title{
    background-color: white;
    color: #606062;
    font-size: 3.7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20dvh;
    font-weight: 500;
    padding-bottom: 2dvh;

    img {
        width: 4.2dvh;
        height: auto;
    }
}

.service-card-container{
    background-color: white;
    height: 69dvh;
    border-radius: 1.5% 1.5% 6% 6%;
    box-shadow: 0 0.5dvh 1dvh rgba(0, 0, 0, 0.15);
    width: 48.5%;
    min-width: 350px;
    margin-bottom: calc(1.8vh + 1.2vw);
}

.service-card-image {
  height: 40dvh;
  width: 100%;
}

.service-card-title{
    background-color: #606062;
    font-size: 2.5vh;
    height: 4.3dvh;
    padding: 0.6dvh 0 0 2dvw;
}

.service-card-description{
    color: #606062;
    padding: 1vw 4vh;
    height: auto;

    p{
        font-size: 1.7vh;
    }
}

@media (orientation: portrait) {
    .service-card-container{
        width: 97%;
    }
}