.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 2dvw 0;
}
.service-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.waves{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 83%;
    overflow: hidden;
}
.giant-wave{
    width: 28dvw;
    height: auto;
    background-size: cover;
    background-position: center;
}
