.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    padding-top: 3dvw;
}
.service-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.waves{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 86%;
    overflow: hidden;
}
.giant-wave{
    width: 500px;
    height: 462px;
    background-size: cover;
    background-position: center;
}