.service-title {
  background-color: white;
  color: #606062;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  font-weight: 500;
}

.service-card-container {
  background-color: white;
  max-width: 540px;
  min-width: 350px;
  border-radius: 7px 7px 20px 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  margin-bottom: 2vw;
  width: 100%;
  margin: 1rem;
  display: flex;
  flex: 1 1 calc(50% - 2rem);
  flex-direction: column;
}

.service-card-image {
  height: 40dvh;
  width: 100%;
}

.service-card-title {
  background-color: #606062;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.87);
  padding: 8px 40px 8px 40px;
}

.service-card-description {
  color: #606062;
  padding: 16px 40px 24px 40px;
  border-radius: 40px;
}

@media (orientation: portrait) {
}
